/myPage/horoscope/__init__.py
/myPage/horoscope/admin.py
/myPage/calc/__init__.py
/myPage/calc/admin.py
/myPage/calc/apps.py
/myPage/calc/models.py
/myPage/calc/tests.py
/myPage/horoscope/apps.py
/myPage/horoscope/models.py
/myPage/horoscope/tests.py
/myPage/myPage/__init__.py
/myPage/myPage/asgi.py
/myPage/myPage/settings.py
/myPage/myPage/wsgi.py
/myPage/db.sqlite3
/myPage/manage.py
/first/
/blog/
